* {
  background-color: #ff4d4d;
}

.title {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.select-your-pokemon {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 1rem;
  margin: 0 1rem;
}

.list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrap {
  display: flex;
  border: 5px solid white;
  margin: 1rem;
  padding: 3rem;
  border-radius: 50%;
}

.img-wrap img {
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.pokemon-wrap {
  display: flex;
  margin: 1rem;
  padding: 3rem;
  border-radius: 50%;
}

.pokemon-wrap img {
  width: 200px;
  height: 200px;
}

.button-wrap {
  border: none;
}

.name-wrap p {
  font-size: 1.5rem;
}


.type-wrap p {
  display: inline-flex;
  margin: 1rem 0.2rem;
  padding: 1rem;
  border: 5px solid white;
  border-radius: 2rem;
  color: white;
}

.pokemon-card-wrap {
  border: 5px solid red;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}