* {
  background-color: #ff4d4d;
}

.title {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.select-your-pokemon {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 1rem;
  margin: 0 1rem;
}

.list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrap {
  display: flex;
  border: 5px solid black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 50%;
}

.img-wrap img {
  width: 200px;
  height: 200px;
}

